/* current issues: background image (mobile), site deployment */

@charset "UTF-8";

// Configuration (variables, functions, etc)
@use
  './config' as *;

// import resets
@use 
  './reset' as *;


// Raleway and Open Sans fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Raleway:wght@400;500;600;700&display=swap');

body {
  background-color: $dark-blue-2;
  color: $neutral;
  /* Open Sans font */
  font-family: $font-2;
  font-weight: weight('regular');
  /* base font-size is 14px */
  font-size: $base-size;
  overflow-x: hidden;
}


.header__links,
h1,
h2,
h3,
h4,
h5,
h6,
.btn {
  /* raleway font for headers and headings */
  font-family: $font-1;
}

.header {
  background-color: $dark-blue-1;
  @include docSidePadding;
  padding-top: 2em;
  padding-bottom: 2.25em;

  &__logo {
    width: 6.2em;
  }

  &__links {
    float: right;
  }

  &__link {
    display: inline-block;
    font-size: 0.75rem;
    margin-left: 1.2em;
  }
}

/* styles for hero section */
.hero {
  text-align: center;
  margin-bottom: 8em;
  @include docSidePadding;
  padding-top: 1em;
  background: url('../assets/images/bg-curvy-mobile.svg') no-repeat bottom;
  background-size: contain;
  background-color: $dark-blue-1;

  &__img {
    margin-bottom: 1.75em;
  }

  &__title {
    margin-bottom: .65em;
    font-size: 1.3rem;
    font-weight: weight('semi-bold');
    line-height: 1.6;
  }

  &__desc {
    margin-bottom: 2em;
  }

  /* styles for main buttons */
  .btn--primary {
    width: 77%;
    background: $accent-gradient;
    border: none;
    color: $neutral;
    margin-bottom: 2em;
    // padding: 1.1em 5em;
    padding: 1.1em 0;
    border-radius: 2em;
    font-size: 0.8rem;
    font-weight: weight('semi-bold');
  }
}

/* styles for feature section */
.features {
  text-align: center;
  @include docSidePadding;
  margin-bottom: 10em;

  .feature {
    &__img {
      margin-bottom: 1.75em;
      width: 4.2em;
    }

    &__title {
      margin-bottom: 0.7em;
      font-size: 1.1rem;
      font-weight: weight('semi-bold');
    }

    &__desc {
      margin-bottom: 6em;
    }
  }
}

/* styles for call-to-action section */
.c2a {
  margin-bottom: 8em;
  @include docSidePadding;

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  &__img {
    align-self: center;
  }

  &__content {
    margin-top: 2.5em;
  }

  &__title {
    font-size: 1.05rem;
    margin-bottom: 1em;
    margin-left: 0.25em;
    font-weight: weight('semi-bold');
  }

  .btn--secondary {
    padding: 0 0 0.4em;
    color: $accent-1;
    background: transparent;
    border: none;
    border-bottom: 0.1em solid;

    i {
      position: relative;
      top: 0.28em;
      margin-left: 0.25em;
    }
  }
}

/* styles for testimonial section */
.testimonials {
  padding-top: 1.5em;

  // /* pseudo class for placing quote background */
  // &::before {
  //   background: url('../assets/images/bg-quotes.png');
  //   background-repeat: no-repeat;
  //   content: '';
  //   position: absolute;
  //   height: 2em;
  //   width: 100%;
  //   background-size: 1.5em;
  //   left: 3em;
  //   z-index: -1;
  // }
  .wrapper {
      /* pseudo class for placing quote background */
    &::before {
      background: url('../assets/images/bg-quotes.png');
      background-repeat: no-repeat;
      content: '';
      position: absolute;
      height: 2em;
      width: 100%;
      background-size: 1.5em;
      left: 3em;
      z-index: -1;
    }
  }
}

.testimonial {
  background: $dark-blue-4;
  margin: 1.75em 2.75em;
  padding: 1.75em 1.5em 1.5em;
  border-radius: .2rem;

  &:nth-child(1) {
    margin-top: 1.05em;
  }

  &__desc {
    font-size: 0.75rem;
    line-height: 1.75;
  }

  &__author {
    margin-top: 1.5em;
  }

  .author__avatar {
    width: 2.75em;
    border-radius: 50%;
    float: left;
    margin-right: 0.75em;
    overflow: hidden;
  }

  .author__name {
    /* adjusts the h3 headings here to Open Sans font instead of default Raleway */
    font-family: $font-2;
    font-size: 0.9rem;
    font-weight: weight('medium');
    letter-spacing: 0.05rem;
    margin-bottom: 0.01em;
  }

  .author__desc {
    font-size: 0.7rem;
  }
}

/* styles for newsletter sign-up section */
.newsletter {
  background: $dark-blue-1;
  margin: 10em 1.65em 1em;
  padding: 2em;
  border-radius: .2rem;

  &__content {
    text-align: center;
    margin-bottom: 1.75em;
  }

  &__title {
    margin-bottom: 1em;
  }

  &__form {
    /* styles for form email input */
    [type=email], [type=submit] {
      border: none;
      width: 100%;
      padding: 1.2em 2.4em;
      border-radius: 2em;
      font-size: 0.7rem;
    }

    [type=email]:focus {
      outline: none;
    }

    ::placeholder {
      color: rgba(100,100,100);
      font-weight: weight('regular');
      font-size: 0.7rem;
    }

    /* styles for email submit button */
    [type=submit] {
      background: $accent-gradient;
      color: $neutral;
      font-weight: weight('semi-bold');
      margin-top: 1.75em;
    }

  }
}

/* styles for footer section */
  
 .footer {
   @include docSidePadding;
   background-color: $dark-blue-3;
   padding-bottom: 2.5em;
  
   &__logo {
     width: 12em;
     padding-top: 4em;
     margin: 0 1em 2.25em 0.75em;
   }
  
   &__desc {
     margin-bottom: 1.25em;
  
     i {
        float: left;
  
        img {
          width: 1em;
        }
      }
  
      p {
        padding-left: 3em;
      }
    }
  
    &__link {
      margin-bottom: 1.25em;
      
      i {
        float: left;
        padding-right: 2em;
  
        img {
          width: 1em;
        }
      }
    }
  
    .column {
      &:nth-child(1), &:nth-child(2) {
        i {
          padding-top: 0.3em;
        }
      }
      &:nth-child(2) {
        margin-bottom: 4.5em;
      }
  
      &:nth-child(3) {
        margin-bottom: 3.5em;
      }
  
      &:nth-child(4) {
        margin-bottom: 4.5em;
      }
  
      &:nth-child(5) {
        ul {
          text-align: center;
        }
        li {
          display: inline-block;
          margin-right: 0.5em;
          padding: 0.3em 0;
          width: 2em;
          border: 0.01em solid $neutral;
          border-radius: 50%;
        }
      }
    }
  }

/* Adjust for larger screen size */
@media (min-width: map-get($breakpoints, 'medium')) {
  body {
    // position: relative;
  }

  .header {
    padding: 5.5em 6em;
    &__logo {
      width: 12.5em;
    }

    &__link {
      font-size: 1rem;
      margin-left: 3.5em;
    }
  }

  .hero {
    background: url('../assets/images/bg-curvy-desktop.svg') no-repeat bottom;
    background-size: contain;
    background-color: hsl(217deg, 28%, 15%);

    &__title {
      width: 52%;
      font-size: 2.5rem;
      line-height: 1.45;
      margin: 0 auto;
      margin-top: 0.25em;
      // padding: 0em 7em;
    }

    &__desc {
      font-size: 1.2rem;
      width: 57%;
      margin: 1.5em auto;
      margin-bottom: 1.75em;
      padding: 0 5em;
    }

    .btn--primary {
      width: 21%;
      font-size: 1rem;
      padding: 1.2em 0em;
    }
  }

  .features {
    padding: 0;
    margin-bottom: 5em;

    .wrapper {
      display: grid;
      grid-template-columns: 1fr 2fr 2fr 1fr;
      grid-column-gap: 1em;
    }
    .feature {  
      &__img {
        // margin-bottom: 1.75em;
        height: 5.5em;
        width: auto;
      }
  
      &__title {
        font-size: 1.25rem;
      }
  
      &__desc {
        padding: 0 3em;
      }

      &:nth-child(1) {
        grid-column: 2;
      }

      &:nth-child(2) {
        grid-column: 3;
      }

      &:nth-child(3) {
        grid-column: 2;
      }

      &:nth-child(4) {
        grid-column: 3;
      }
    }
  }

  .c2a {
    padding: 0 8em;

    .wrapper {
      flex-direction: row;
      align-items: center;
    }

    &__img {
      min-width: 50%;
      // min-height: 100%;
    }

    &__content {
      margin-top: 0;
      margin-left: 4em;
    }

    &__title {
      font-size: 2.5rem;
      margin-left: 0;
      margin-bottom: 0.6em;
      padding-right: 1.5em;
    }

    &__desc {
      font-size: 1rem;
      line-height: 1.45;
    }

    &__btn {
      font-family: $font-2;
      font-size: 1rem;
      margin-top: 0.75em;
    }
  }

  .testimonials {
    // min-height: 40em;
    // position: relative;

    // &::before {
    //   height: 6em;
    //   top: -1.1em;
    //   left: 8.8em;
    //   background-size: 4em;
    // }
    margin-bottom: 2em;

    .wrapper {
      display: grid;
      grid-template-columns: 0.25fr 1fr 1fr 1fr 0.25fr;
      /* grid-column-gap is depracated, but including it to cover more cases */
      grid-column-gap: 3em;
      column-gap: 3em;
      position: relative;

      &::before {
        grid-column: 2;
        height: 6em;
        top: -2.6em;
        left: -0.7em;
        background-size: 4em;
      }
    }

    .testimonial {
      padding: 2.5em 2em 1.75em;
      box-shadow: 2px 2px 4px $dark-blue-4;

      &__desc {
        font-size: 0.9rem;
        line-height: 1.5;
        margin-bottom: 1.75em;
      }

      &__author {
        line-height: 1.05;
      }

      .author__avatar {
        width: 2em;
      }

      .author__name {
        font-size: 0.7rem;
      }

      .author__desc {
        font-size: 0.5rem;
      }

      &:nth-child(1) {
        grid-column: 2;
        margin: 0;
        // margin-left: 12em;
      }

      &:nth-child(2) {
        grid-column: 3;
        margin: 0;
      }

      &:nth-child(3) {
        grid-column: 4;
        margin: 0;
        // margin-right: 12em;
      }
    }
  }

  .newsletter {
    // width: 60%;
    // margin: 0 auto;
    // position: absolute;
    height: 10em;
    background-color: $dark-blue-2;
    margin: 0;
    margin-top: 14em;
    padding: 0;
    border-radius: 0;

    &__title {
      font-size: 2rem;
      margin-bottom: 0.75em;    
    }

    &__desc {
      font-size: 0.9rem;
      padding: 0 1em 0.75em;
      line-height: 1.5;
    }

    &__form {
      display: flex;
      gap: 2em;

      [type=email] {
        flex: 2;
        padding: 1.6em 3em;
        border-radius: 3em;
      }

      ::placeholder {
        font-size: 0.8rem;
      }

      [type=submit] {
        flex: 1;
        margin-top: 0;
        padding: 1em 0.5em;
        font-family: $font-1;
        font-size: 0.9rem;
      }
    }

    .wrapper {
      background-color: $dark-blue-1;
      box-shadow: 0.5em 0.6em 0.5em rgba(0, 0, 0, 0.2);      
      margin: 10em 1.65em 1em;
      padding: 3em 5em 2.5em;      
      border-radius: .2rem;
      width: 60%;
      margin: 0 auto;
      position: relative;
      z-index: 1;
    }

  }

  .footer {
    padding-top: 14em;

    .columns {
      display: flex;
      justify-content: space-around;
    }

    &__logo {
      padding-top: 0;
      margin: 0;
    }

    &__desc {
      width: 20%;
    }

    .column {
      margin-bottom: 0;
    }
  }
}


  /**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
  overflow: hidden;
}

/* helper classes */

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}